body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #1DB954;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #b3b3b3;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    background: #3e3e3e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    border: 1px solid #1DB954;
}

button {
    background-color: #1DB954;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1ed760;
}

button:active {
    background-color: #1aa34a;
}

form > p {
    color: #b3b3b3;
    font-size: 0.9rem;
    text-align: center;
}
